@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", monospace;
  }

  .nav {
    background-color: pink;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  h2 {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .home {
    padding-top: 10px;
    text-align: center;
  }

  .btn {
    padding: 10px;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;
  }

  .dinner {
    padding-top: 10px;
    text-align: center;
  }

  .column {
    margin: 25px;
    border: 1px solid black;
  }

  .purchase {
    padding: 10px;
    border-radius: 12px;
  }

  .vacation {
    padding-top: 10px;
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: white;
  }
}
