@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  .nav {
    background-color: #ffc0cb;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /* // hamburger menu styles // */
    /* position: relative; */
  }

  /* // ----------------------------------------- // */
  h2 {
    color: white;
  }

  .home {
    padding-top: 25px;
    text-align: center;
  }

  .btn {
    padding: 15px;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
  }

  .dinner {
    padding-top: 25px;
    text-align: center;
  }

  .column {
    margin: 25px;
    border: 1px solid black;
  }

  .purchase {
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
  }

  .outfits {
    padding-top: 25px;
    text-align: center;
  }

  .vacation {
    padding-top: 25px;
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: white;
  }

  .heart {
    padding-top: 15px;
  }
}

@media screen and (min-width: 641px) and (max-width: 725px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  .nav {
    background-color: #ffc0cb;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /* // hamburger menu styles // */
    /* position: relative; */
  }

  /* // ----------------------------------------- // */
  h2 {
    color: white;
  }

  .home {
    padding-top: 25px;
    text-align: center;
  }

  .btn {
    padding: 15px;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
  }

  .dinner {
    padding-top: 25px;
    text-align: center;
  }

  .column {
    margin: 25px;
    border: 1px solid black;
  }

  .purchase {
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
  }

  .outfits {
    padding-top: 25px;
    text-align: center;
  }

  .vacation {
    padding-top: 25px;
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: white;
  }
}

@media screen and (min-width: 726px) and (max-width: 926px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  .nav {
    background-color: #ffc0cb;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /* // hamburger menu styles // */
    /* position: relative; */
  }

  /* // ----------------------------------------- // */
  h2 {
    color: white;
  }

  .home {
    padding-top: 25px;
    text-align: center;
  }

  .btn {
    padding: 15px;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
  }

  .dinner {
    padding-top: 25px;
    text-align: center;
  }

  .column {
    margin: 25px;
    border: 1px solid black;
  }

  .purchase {
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
  }

  .outfits {
    padding-top: 25px;
    text-align: center;
  }

  .vacation {
    padding-top: 25px;
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: white;
  }
}

@media screen and (min-width: 927px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  .nav {
    background-color: #ffc0cb;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    /* // hamburger menu styles // */
    /* position: relative; */
  }

  /* // ----------------------------------------- // */
  h2 {
    color: white;
  }

  .home {
    padding-top: 25px;
    text-align: center;
  }

  .btn {
    padding: 15px;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
  }

  .dinner {
    padding-top: 25px;
    text-align: center;
  }

  .column {
    margin: 25px;
    border: 1px solid black;
  }

  .purchase {
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
  }

  .outfits {
    padding-top: 25px;
    text-align: center;
  }

  .vacation {
    padding-top: 25px;
    text-align: center;
  }

  .footer {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: white;
  }
}
